.nav {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.nav li {
  float: left;
  border-right: 1px solid #bbb;
}

.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


.nav li p {
	padding: 0px 14px 0px 16px;
	color: white;
	}

/* Change the link color to #111 (black) on hover */
.nav li a:hover {
  background-color: #6DA24F;
}

@media only screen and (max-width: 600px) {
  .nav li {
    float: none;
  }
}
