<!DOCTYPE html>
<html>

<head>
    {% if request.user.is_authenticated %}
 	    <ul>
        <li><p>Bem vindo, {{request.user.username}}</p></li>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
        <li><a href="{% url 'meus_animais' %}">Meus animais</a></li>
      </ul>
    {% else %}
      <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'register' %}">Registrar</a></li>
        <li><a href="{% url 'login' %}">Login</a></li>
      </ul>
		{% endif %}
</head>

<body>
  {% block content %}
  {% endblock content %}
</body>

<!-- <footer>
  <ul>
    <li>Animal Finder 2018 2020. Todos os direitos reservados</li>
    <li>Contato: (14) 98765-4321</li>
    <li>Endereço: Rua dos Animais, 412</li>
  </ul>
</footer> -->

</html>
