<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>

		<meta charset="utf-8">
		<title>Cadastro</title>
		
	</head>
	<body>

		<div class="insert_data">
			<h1>Cadastro de animal desaparecido</h1>

			<form method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				<p>Foto:<br>{{form.foto}}</p>
				<p>Nome do animal:<br>{{form.nome}}</p>
				<p>Idade (opcional):<br>{{form.idade}}</p>
				<p>Cidade de desaparecimento:<br>{{form.cidade_desaparecimento}}</p>
				<p>Estado de desaparecimento:<br>{{form.estado_desaparecimento}}</p>
				<p>Informações adicionais (opcional):<br>{{form.informacoes_extras}}</p>

				{% for field in registration_form %}
					{% for error in field.errors %}
						<p style="color: red;">{{error}}</p>
					{% endfor %}
				{% endfor %}
				<br>
				<button type="submit">Cadastrar animal</button>
			</form>
		</div>

	</body>
</html>
