{% extends 'base.html' %}

{% block css %}
    {% load static %}
    <link href="{% static 'one_animal_style.css' %}"  rel="stylesheet">

{% endblock css %}



{% block content %}

  <h1>Você viu este animal?</h1>
  {% for animal in animais_cadastrados %}
      <div id="container_animal">
            <div class="textos_animal">
                <h1>{{animal.nome}}, {{animal.idade}} ano(s)</h1>
                <h2>Desaparecido em {{animal.cidade_desaparecimento}}
                    {{animal.estado_desaparecimento}}</h2>
                <p>Informações: {{animal.informacoes_extras}}</p>
                <div class="link_encontrei_animal">
                  <form action="{%  url 'animal_encontrado' animal.id %}">
                      <input class="encontrei" type="submit" value="Encontrei" />
                  </form>
                </div>
            </div>

            <div class="imagem_animal">
              {% if animal.foto %}
                {% load static %}
                <img src="{{ animal.foto.url }}" width=50%>
              {% endif %}
            </div>
      </div>
  {% endfor %}


  {% if animais_cadastrados.has_other_pages %}
    <ul class="pagination">
  {% if animais_cadastrados.has_previous %}
    <li><a href="?page={{ animais_cadastrados.previous_page_number }}">&laquo;</a></li>
  {% else %}
    <li class="disabled"><span>&laquo;</span></li>
  {% endif %}
  {% for i in animais_cadastrados.paginator.page_range %}
    {% if animais_cadastrados.number == i %}
  <li class="active"><span>{{ i }} <span class="sr-only">(Atual)</span></span></li>
    {% else %}
  <li><a href="?page={{ i }}">{{ i }}</a></li>
    {% endif %}
  {% endfor %}
  {% if animais_cadastrados.has_next %}
    <li><a href="?page={{ animais_cadastrados.next_page_number }}">&raquo;</a></li>
  {% else %}
    <li class="disabled"><span>&raquo;</span></li>
  {% endif %}
    </ul>
  {% endif %}
{% endblock content %}
