.new_animal button {
  font-size: 30px;
  display: block;
  float: right;
  outline: 0;
  background: #4CAF50;
  margin-right: 5%;
  border: 1px solid #333;
  /* border-radius: 15px; */
  padding: 10px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.new_animal button:hover,.new_animal button:active,.new_animal button:focus {
  background: #43A047;
}

.table_animal_status {
  width:90%;
  margin-left: 5%;
}

.table_animal_status, .table_animal_status th, .table_animal_status td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}
