{% extends 'base.html' %}


{% block css %}
    {% load static %}
    <link href="{% static 'general_style.css' %}"  rel="stylesheet">
    {% load static %}
    <link href="{% static 'login_style.css' %}"  rel="stylesheet">

{% endblock css %}


{% block content %}
    <div class="form-page">
      <div class="form">
        <h1>Registrar</h1>

        <form method="post">
          {% csrf_token %}
          {{registration_form.email}}
          {{registration_form.nome}}
          {{registration_form.telefone}}
          {{registration_form.password1}}
          {{registration_form.password2}}


          {% for field in registration_form %}
            {% for error in field.errors %}
              <p style="color: red;">{{error}}</p>
            {% endfor %}
          {% endfor %}
          <br>
          <button type="submit">Registrar</button>

        </form>
      </div>
     </div>
{% endblock content %}
