{% extends 'base.html' %}


{% block css %}
    {% load static %}
    <link href="{% static 'login_style.css' %}"  rel="stylesheet">
{% endblock css %}


{% block content %}
    <div class="insert_data">

        <div class="form-page">
          <div class="form">
            <h1>Login</h1>
            <form method="post">
              {% csrf_token %}
              {{ login_form.email }}
              <br><br>
              {{ login_form.password }}
              <br><br>


              {% for field in login_form %}
                {% for error in field.errors %}
                  <p style="color: red;">{{error}}</p>
                {% endfor %}
              {% endfor %}
              <br>
              <button type="submit" class="submit">Login</button>
            </form>
         </div>
        </div>
    </div>
{% endblock content %}
