<!DOCTYPE html>
<html>

<head>

  {% load static %}
  <link href="{% static 'general_style.css' %}"  rel="stylesheet">

  {% block css %}
  {% endblock css %}

  {% load static %}
  <link href="{% static 'nav_style.css' %}"  rel="stylesheet">

    <div class="nav">
      <ul>
          <li class="li-logo"><img class="logo" src="/static/ANIMAL_FINDER_LOGO.png" alt="Logo"></li>
      {% if request.user.is_authenticated %}
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'meus_animais' %}">Meus animais</a></li>
          <li><a href="{% url 'logout' %}">Logout</a></li>
          <li class='welcome_message'><p>Bem vindo, {{request.user.nome}}</p></li>
      {% else %}
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'register' %}">Registrar</a></li>
          <li><a href="{% url 'login' %}">Login</a></li>
      {% endif %}
      </ul>
    </div>
</head>

<body>
  {% block content %}
  {% endblock content %}
</body>

<!-- <footer>
  <ul>
    <li>Animal Finder 2018 2020. Todos os direitos reservados</li>
    <li>Contato: (14) 98765-4321</li>
    <li>Endereço: Rua dos Animais, 412</li>
  </ul>
</footer> -->

</html>
