{% extends 'base.html' %}


{% block css %}
    {% load static %}
    <link href="{% static 'login_style.css' %}"  rel="stylesheet">
{% endblock css %}


{% block content %}
		<div class="insert_data">
			<div class="form-page">
				<div class="form">
					<h1>Cadastro de animal desaparecido</h1>

					<form method="POST" enctype="multipart/form-data">
						{% csrf_token %}
						<p>Foto:<br>{{form.foto}}</p>
						{{form.nome}}
						{{form.idade}}
						{{form.cidade_desaparecimento}}
						{{form.estado_desaparecimento}}
						{{form.informacoes_extras}}

						{% for field in registration_form %}
							{% for error in field.errors %}
								<p style="color: red;">{{error}}</p>
							{% endfor %}
						{% endfor %}
						<br>
						<button type="submit">Cadastrar animal</button>
			</form>
		</div>
	</div>
 </div>
{% endblock content %}
