{% extends 'base.html' %}

{% block css %}
  {% load static %}
  <link href="{% static 'meus_animais_style.css' %}"  rel="stylesheet">
{% endblock css %}

{% block content %}
    <div class="new_animal">
      <form action="{%  url 'novo_animal' %}">
        <button type="submit">Cadastrar novo animal</button>
      </form>
    </div>
  <br>
  <br><br>

  <table class="table_animal_status">
    <thead>
      <tr>
        <th>Nome</th>

        <th>Status</th>
        <th>Lista de contatos</th>
        <th>Editar cadastro</th>
        <th>Excluir cadastro</th>

      </tr>
      </thead>
    <tbody>

    <h2 style="text-align: center;"> Meu animais </h2>
    {% for animal, contatos in animais %}
      <tr>
      <td>
        {{animal.nome}}
      </td>

      <td>
        {{animal.get_status_display}}
      </td>

      <td>
        {% for contato in contatos %}
          {{contato.nome}}
          {{contato.telefone}}
          <br>
        {% endfor %}
      </td>

      <td><a class="btn btn-warning" href="{%  url 'animal_edit' animal.id %}">Edit</a>
            </td>
			<td><a class="btn btn-danger" href="{%  url 'animal_delete' animal.id %}">Delete</a>
			</td>
    </tr>
    {% endfor %}
  </tbody>
  </table>

{% endblock content %}
